[MASTER]

extension-pkg-whitelist=

[TYPECHECK]
ignored-classes=


[BASIC]

argument-naming-style=snake_case
attr-naming-style=any
class-attribute-naming-style=any
class-naming-style=PascalCase
const-naming-style=UPPER_CASE
function-naming-style=snake_case
inlinevar-naming-style=any
method-naming-style=any
module-naming-style=any
variable-naming-style=any


[DESIGN]

max-attributes=12

[MESSAGES CONTROL]

disable =
    missing-docstring,

    no-self-use,
    too-many-statements,
    unused-argument,

    broad-except,
    keyword-arg-before-vararg,
    logging-format-interpolation,

    fixme, # TODO: Remove this
