/* TODO: split into multiple files */

/* Bootstrap addons */

.table-hover td {
    cursor: pointer;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.btn:disabled {
    cursor: not-allowed;
}

/* General styling */

pre {
    background-color: rgba(27,31,35,.05);
    padding: 10px;
}

.octicon {
    width: 16px;
}

/* rc-tree addons */

.rc-tree-treenode-switcher-open {
    /* Will help with the right-floating of the md5 hashes */
    position: relative;
}

.rc-tree-title {
    display: inline-flex;
    width: 97%;
}

.rc-tree-left {
    margin-right: 5px;
    font-size: 12px;
}

.rc-tree-right {
    margin-left: auto;
    font-size: 12px;
}

.rc-tree-node-content-wrapper {
    display: inline !important;
}

.rc-node-color-modify > .rc-tree-node-content-wrapper {
    background-color: rgba(255, 193, 7, 0.1);
}

.rc-node-color-insert > .rc-tree-node-content-wrapper {
    background-color: rgba(40, 167, 29, 0.1);
}

.rc-node-color-missing > .rc-tree-node-content-wrapper {
    background-color: rgba(220, 53, 69, 0.1);
}

.rc-node-color-hidden > .rc-tree-node-content-wrapper {
    visibility: hidden;
}

/* Login */

.form-wrapper {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    height: 100vh;
    text-align: center;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



/* App */

#grid-container {
    display: grid;
    grid-template-areas:
        "leftCommands rightCommands"
        "leftPane rightPane"
        "jobProgress jobProgress"
        "statusBar statusBar"
        ;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: hidden;
}

#zone-left-commands {
    grid-area: leftCommands;
}

#zone-right-commands {
    grid-area: rightCommands;
}

#zone-left-pane {
    grid-area: leftPane;
    overflow-y: auto;
}

#zone-right-pane {
    grid-area: rightPane;
    overflow-y: auto;
}

#zone-job-progress {
    grid-area: jobProgress;
    height: 136px;
}

#zone-status-bar {
    grid-area: statusBar;
    font-size: 8px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}


/* Commands */

.zone-command-bar {
    padding: 5px 10px 0px 10px;
    border: 1px solid #e1e2e3;
}


/* Panes */

.zone-pane {
    border: 1px solid #e1e2e3;
    user-select: none;

}

.grid-files {
    display: grid;
    grid-template-rows: 25px;
    grid-auto-rows: 25px;
    grid-template-columns: 1fr 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-file-row {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-file-row.active {
    background-color: #D4E3F2;
}


/* Job Progress */

#zone-job-progress {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    user-select: none;
}

#zone-job-progress .table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

#zone-job-progress .table-striped tbody tr:nth-of-type(even),
#zone-job-progress .table-striped thead tr {
    background-color: rgba(0,0,0,.05);
}

#copy-job-section-header {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: .3rem;
    border-top: 1px solid #cccccc;
    /*background-color: rgba(0,0,0,.05);*/
}

#copy-job-section-header .section-tab {
    color: #007bff;
    cursor: pointer;
}

#copy-job-section-header .section-tab.active {
    color: inherit;
    cursor: default;
    font-weight: bold;
}

/* Status Bar */

#zone-status-bar {
    border: 1px solid #e1e2e3;
}

/* Utilities */

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-label {
    vertical-align: baseline-middle;
    vertical-align: -webkit-baseline-middle;
}

.cursor-pointer {
    cursor: pointer;
}

/* Components */

.component-resizable-divider {
    cursor: ns-resize;
    position: absolute;
    width: 100%;
    height: 10px;
    margin-top: -5px;
    z-index: 300;
}

.copy-job-blob {
    max-height: 300px;
}
