/* TODO: split into multiple files */

/* App */

#grid-container {
    display: grid;
    grid-template-areas:
        "leftCommands rightCommands"
        "leftPane rightPane"
        "jobProgress jobProgress"
        "statusBar statusBar"
        ;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: calc(100vh - 56px);
    overflow: hidden;
}

#zone-left-commands {
    grid-area: leftCommands;
    height: 100px;
}

#zone-right-commands {
    grid-area: rightCommands;
    height: 100px;
}

#zone-left-pane {
    grid-area: leftPane;
}

#zone-right-pane {
    grid-area: rightPane;
    /*background-color: #f6dc16;*/
}

#zone-job-progress {
    grid-area: jobProgress;
    background-color: cyan;
    height: 50px;
}

#zone-status-bar {
    grid-area: statusBar;
    font-size: 8px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
}


/* Commands */

.zone-command-bar {
    padding: 5px 10px 0 10px;
    border: 1px solid #e1e2e3;
}


/* Panes */

.zone-pane {
    border: 1px solid #e1e2e3;
}

.grid-files {
    display: grid;
    grid-template-rows: 25px;
    grid-auto-rows: 25px;
    grid-template-columns: 1fr 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-file-row.active {
    background-color: #D4E3F2;
}


/* Utilities */
.middle {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}